/* ANIMATIONS */

/* DEFAULT ATTACK */

.attack-right {
  animation: attack-right 0.9s;
}

@keyframes attack-right {
  50% {
    left: 25%;
    top: 10%;
  }

  80% {
    left: 60%;
    top: 32%;
  }

  to {
    top: 38%;
    left: 18%;
  }
}

.attack-left {
  animation: attack-left 1s;
}

@keyframes attack-left {
  50% {
    right: 25%;
    top: 10%;
  }

  80% {
    right: 60%;
    top: 32%;
  }

  to {
    top: 38%;
    right: 18%;
  }
}

/* RECEIVE ATTACK */

.receive-attack-right {
  animation: receive-attack-right 0.9s;
}

@keyframes receive-attack-right {

  70% {
    right: 18%;
  }

  90% {
    right: 10%;
  }

  to {
    right: 18%;
  }
}

.receive-attack-left {
  animation: receive-attack-left 0.9s;
}

@keyframes receive-attack-left {

  70% {
    left: 18%;
  }

  90% {
    left: 10%;
  }

  to {
    left: 18%;
  }
}


/* HYDRO ATTACK */

.hydro-left {
  animation: hydro-left 1s;
  width: 10%;
}

@keyframes hydro-left {
  10% {
    left: 60%;
    visibility: hidden;
  }

  20% {
    left: 30%;
    visibility: visible;
  }

  30% {
    left: 60%;
    visibility: hidden;
  }
  
  40% {
    left: 30%;
    visibility: visible;
  }

  50% {
    left: 70%;
    visibility: hidden;
  }

  60% {
    left: 30%;
    top: 40%;
    visibility: visible;
  }

  70% {
    left: 60%;
    top: 48%;
    visibility: hidden;
  }

  80% {
    left: 50%;
    top: 40%;
    width: 25%;
    visibility: visible;
  }

  90% {
    left: 60%;
    visibility: hidden;
  }

  to {
    top: 48%;
    width: 10%;
    transform: rotate(20deg);
  }

}

.hydro-right {
  animation: hydro-right 1s;
  width: 10%;
  transform: rotate(180deg);
}

@keyframes hydro-right {
  10% {
    right: 60%;
    visibility: hidden;
  }

  20% {
    right: 30%;
    visibility: visible;
  }

  30% {
    right: 60%;
    visibility: hidden;
  }
  
  40% {
    right: 30%;
    visibility: visible;
  }

  50% {
    right: 70%;
    visibility: hidden;
  }

  60% {
    right: 30%;
    top: 40%;
    visibility: visible;
  }

  70% {
    right: 60%;
    top: 48%;
    visibility: hidden;
  }

  80% {
    right: 50%;
    top: 40%;
    width: 25%;
    visibility: visible;
  }

  90% {
    right: 60%;
    visibility: hidden;
  }

  to {
    top: 48%;
    width: 10%;
  }

}


/* FLAME ATTACK  */

.flame-left {
  animation: flame-left 1s;
}

@keyframes flame-left {
  50% {
    left: 70%;
    width: 10%;
  }

  60% {
    left: 85%;
    top: 40%;
    transform: rotate(120deg);
  }

  70% {
    left: 65%;
    top: 48%;
    transform: rotate(90deg);
  }

  80% {
    left: 80%;
    top: 40%;
    width: 20%;
  }

  to {
    left: 70%;
    top: 48%;
    width: 5%;
    transform: rotate(20deg);
  }
}

.flame-right {
  animation: flame-right 1s;
  transform: scaleX(-1);
}

@keyframes flame-right {
  
  50% {
    right: 70%;
    width: 10%;
  }

  60% {
    right: 85%;
    top: 40%;
    transform: rotate(60deg);
  }

  70% {
    right: 65%;
    top: 48%;
    transform: rotate(120deg);
  }

  80% {
    right: 80%;
    top: 40%;
    width: 20%;
  }

  to {
    right: 70%;
    top: 48%;
    width: 5%;
    transform: rotate(20deg);
  }
}


/* SCRATCH ATTACK */

.scratch-left {
  animation: scratch-left 1s;
}

@keyframes scratch-left {

  50% {
    left: 70%;
    width: 5%;
  }

  60% {
    left: 85%;
    top: 35%;
  }

  70% {
    left: 65%;
    top: 45%;
  }

  80% {
    left: 80%;
    width: 25%;
  }

  to {
    left: 70%;
    top: 35%;
    width: 3%;
  }
}

.scratch-right {
  animation: scratch-right 1s;
  transform: scaleX(-1);
}

@keyframes scratch-right {

  50% {
    right: 70%;
    width: 5%;
  }

  60% {
    right: 85%;
    top: 35%;
  }

  70% {
    right: 65%;
    top: 45%;
  }

  80% {
    right: 80%;
    width: 25%;
  }

  to {
    right: 70%;
    top: 35%;
    width: 3%;
  }
}


/* BITE ATTACK */

.bite-left {
  animation: bite-left 1s;
}

@keyframes bite-left {

  50% {
    left: 70%;
    width: 5%;
  }

  60% {
    left: 85%;
    top: 40%;
  }

  70% {
    left: 65%;
    top: 48%;
  }

  80% {
    left: 80%;
    top: 55%;
    width: 10%;
  }

  to {
    left: 70%;
    top: 48%;
    width: 3%;
  }
}

.bite-right {
  animation: bite-right 1s;
  transform: scaleX(-1);
}

@keyframes bite-right {

  50% {
    right: 70%;
    width: 5%;
  }

  60% {
    right: 85%;
    top: 40%;
  }

  70% {
    right: 65%;
    top: 48%;
  }

  80% {
    right: 80%;
    top: 55%;
    width: 10%;
  }

  to {
    right: 70%;
    top: 48%;
    width: 3%;
  }
}


/* THUNDERBOLT ATTACK  */

.thunderbolt-left {
  animation: thunderbolt-left 1s;
  width: 20%;
}

@keyframes thunderbolt-left {
  0% {
    top: 5%;
    left: 60%;
  }

  30% {
    top: 40%;
    left: 70%;
    transform: rotate(30deg);
  }

  60% {
    left: 90%;
    top: 10%;
    transform: rotate(120deg);
    height: 40%;
  }

  80% {
    left: 60%;
    top: 30%;
  }

  to {
    left: 70%;
    top: 48%;
    width: 10%;
    transform: rotate(20deg);
  }
}

.thunderbolt-right {
  animation: thunderbolt-right 1s;
  transform: scaleX(-1);
}

@keyframes thunderbolt-right {
  0% {
    top: 5%;
    right: 60%;
  }

  30% {
    top: 40%;
    right: 70%;
    transform: rotate(30deg);
  }

  60% {
    right: 90%;
    top: 10%;
    transform: rotate(120deg);
    height: 40%;
  }

  80% {
    right: 60%;
    top: 30%;
  }

  to {
    right: 70%;
    top: 48%;
    width: 10%;
    transform: rotate(20deg);
  }
}

/* THUNDER STORM ATTACK  */

.thunderstorm-left {
  animation: thunderstorm-left 1s;
  height: 50%;
}

@keyframes thunderstorm-left {
  0% {
    top: 5%;
    left: 70%;
  }

  30% {
    top: 40%;
    transform: rotate(30deg);
  }

  60% {
    left: 50%;
    top: 2%;
    transform: rotate(-40deg);
  }

  80% {
    left: 80%;
    top: 40%;
  }

  to {
    left: 70%;
    top: 15%;
    transform: rotate(20deg);
  }
}

.thunderstorm-right {
  animation: thunderstorm-right 1s;
  transform: scaleX(-1);
}

@keyframes thunderstorm-right {
  0% {
    top: 5%;
    right: 70%;
  }

  30% {
    top: 40%;
    transform: rotate(30deg);
  }

  60% {
    right: 50%;
    top: 2%;
    transform: rotate(-40deg);
  }

  80% {
    right: 80%;
    top: 40%;
  }

  to {
    right: 70%;
    top: 15%;
    transform: rotate(20deg);
  }
}


/* NIGHTMARE ATTACK */

.nightmare-left {
  animation: nightmare-left 1s;
}

@keyframes nightmare-left {

  50% {
    left: 70%;
    width: 5%;
  }

  60% {
    left: 85%;
    top: 35%;
  }

  70% {
    left: 65%;
    top: 45%;
  }

  80% {
    left: 80%;
    width: 25%;
  }

  to {
    left: 70%;
    top: 35%;
    width: 3%;
  }
}

.nightmare-right {
  animation: nightmare-right 1s;
  transform: scaleX(-1);
}

@keyframes nightmare-right {

  50% {
    right: 70%;
    width: 5%;
  }

  60% {
    right: 85%;
    top: 35%;
  }

  70% {
    right: 65%;
    top: 45%;
  }

  80% {
    right: 80%;
    width: 25%;
  }

  to {
    right: 70%;
    top: 35%;
    width: 3%;
  }
}
