html {
  overflow: hidden;
  box-sizing: border-box;
}

body {
  font-family: 'Permanent Marker', 'Signika', sans-serif;
  min-width: 900px;
}




/* START & CHARACTER  */

.start-background {
  position: fixed;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: url('../img/bg-sky.png') repeat-x fixed;
  background-position: 0px 0px;
  background-size: cover;
  animation: move-background 300s linear;
}

.music-on {
  position: fixed;
  bottom: 3%;
  right: 2%;
  background-image: linear-gradient(120deg, #29323c 0%, #485563 100%);  color: #FFF;
}

.effects-on {
  position: fixed;
  bottom: 8%;
  right: 2%;
  background-image: linear-gradient(120deg, #29323c 0%, #485563 100%);  color: #FFF;
}













/* START SCREEN */

#start-screen {
  position: fixed;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.start-title {
  position: fixed;
  width: 50%;
  height: 40%;
  top: 10%;
  right: 50%;
  margin-right: -25%;
}

#start-button {
  position: fixed;
  width: 18%;
  height: 10%;
  top: 70%;
  right: 50%;
  margin-right: -9%;
  border-radius: 50px;
  font-size: 1.5rem;
  background-image: linear-gradient(90deg, #29323c 0%, #485563 100%);  color: #FFF;
  color: #FFF;
  box-shadow:0px 0px 30px 5px #FFF;
}

#start-button:hover {
  background-image: linear-gradient(90deg, #29323c 0%, #D62929 50%);  color: #FFF;
}

#flying-pokemon {
  position: fixed;
  top: 30%;
  left: 60%;
  transform: rotate(5deg);
  z-index: 2;
}














/* CHARACTERS SCREEN SELECTOR */

#characters-selector {
  position: fixed;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  z-index: 1;
}

.title {
  position: fixed;
  width: 20%;
  height: 20%;
  top: 2%;
  left: 50%;
  margin-left: -10%;
}

#characters-container {
  position: fixed;
  height: 50%;
  width: 70%;
  top: 25%;
  right: 50%;
  margin-right: -35%;
  background-image: linear-gradient(120deg, #29323c 0%, #485563 100%);  color: #FFF;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  padding: 3%;
  box-shadow:0px 0px 30px 5px #FFF;
  overflow-y: scroll;
}

#characters-container h1 {
  color: #D62929;
}

#characters-container::-webkit-scrollbar
{
	width: 12px;
	background-color: transparent;
}

#characters-container::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #D62929;
}

.pokemon-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  list-style-type: none;
  text-align: center;
  box-sizing: border-box;
  padding: 0;
}

.pokemon-element {
  flex: 20%;
  border-radius: 50%;
  margin: 20px;
  max-width: 20%;
}

.pokemon-element h3 {
  font-size: 1.2rem;
  text-align: center;
}

.pokemon-element img {
  max-width: 80%;
}

.pokemon-element:hover {
  color: #D62929;
}

.active-li {
  box-shadow:0px 0px 30px 5px rgb(255, 0, 0);
  color: #D62929;
}

.pokeball-container {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10%;
  width: 16%;
  bottom: 8%;
  right: 50%;
  margin-right: -8%;
  background-image: linear-gradient(90deg, #29323c 0%, #485563 100%);  color: #FFF;
  box-shadow:0px 0px 30px 5px #FFF;
}

.pokeball-container img {
  height: 50%;
}

.confirmation-start {
  position: fixed;
  width: 50%;
  top: 25%;
  right: 50%;
  margin-right: -25%;
  background-image: linear-gradient(90deg, #29323c 0%, #485563 100%);  color: #FFF;
  color: #FFF;
  text-align: center;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  padding: 3%;
  box-shadow: 0px 0px 30px 5px #FFF;
}

.confirmation-start h2 {
  font-size: 1.6rem;
  color: #D62929;
}

.pokemon-elected {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  list-style-type: none;
  text-align: center;
  box-sizing: border-box;
  padding: 0;
}

.pokemon-element-elected {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  margin: 10px;
}

.pokemon-element-elected h3 {
  font-size: 1.2rem;
  text-align: center;
  color: #FFF;
}

.pokemon-element-elected img {
  max-width: 80%;
}

.buttons-confirmation {
  margin: 2rem 0;
}

#select-again {
  background: linear-gradient(to right, #e65c00 95%, #f9d423 100%);
  color: #FFF;
  height: 3rem;
}

#selector-start {
  width: 10rem;
  background: linear-gradient(to right,#93291e  90%,#ed213a 100%);
  color: #FFF;
  height: 3rem;
  margin-left: 5rem;
  font-size: 1.4rem;
}













/* LOADING SCREEN */

.loading-screen {
  position: fixed;
  width: 100%;
  height: 100%;
  background: url('../img/bg-loading.jpg') fixed;
  background-position: 0px 0px;
  background-size: cover;
}

.loading-box {
  position: fixed;
  top: 30%;
  right: 50%;
  width: 50%;
  height: 15%;
  margin-right: -25%;
  background-image: transparent;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  align-content: center;
}

.loading-box h2 {
  margin: 2% auto;
  font-size: 2rem;
  text-align: center;
  color: #FFF;
}

.loading-box progress[value] {
  width: 100%;
  margin: 0 auto;
}












/* BATTLE SCREEN */

#battle-board {
  background: url('../img/bg-battle.jpg') no-repeat fixed;
  background-position: 50% 50%; 
  background-size: cover;
  position: fixed;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}


#pokeball-1, #pokeball-2, #pokeball-3, #pokeball-4, #pokeball-5, #pokeball-6 {
  transform: scale3d(1.2, 1.1, 0.3);
  margin-top: -14%;
}

#pokemon-img-1 {
  position: fixed;
  height: 30%;
  top: 38%;
  left: 18%;
  transform: scaleX(-1);
}

#pokemon-img-2 {
  position: fixed;
  height: 30%;
  top: 38%;
  right: 18%;
}


#attack-1 {
  position: fixed;
  top: 48%;
  left: 30%;
}

#attack-2 {
  position: fixed;
  top: 48%;
  right: 30%;
}


#pokemon-name-1, #pokemon-name-2 {
  font-size: 1.6rem;
  font-weight: bold;
  margin: 0;
}

#message-1, #message-2 {
  font-size: 1.7rem;
  font-weight: bold;
}

.player-panel-1 {
  position: fixed;
  height: 28%;
  width: 30%;
  bottom: 4%;
  left: 4%; 
  box-shadow:0px 0px 30px 5px #000;
  background: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);
  opacity: 0.95;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
  align-content: center;
}

.player-panel-2 {
  position: fixed;
  height: 18%;
  width: 26%;
  top: 6%;
  right: 4%;
  box-shadow:0px 0px 30px 5px #000;
  background: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);
  opacity: 0.95;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
  align-content: center;
}

.panel-active {
  background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
  box-shadow:0px 0px 50px 0px #ff0000;
}

.full {
  width: 80%;
  margin: auto;
}

.left, .right {
  width: 40%;
  margin: 1% 0;
}

progress[value] {
  margin: 2% 0;
  border-radius: 2px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
  border: 2px solid #000;
  border-radius: 5px; 
}

progress[value]::-webkit-progress-value {
  background-image:
	   -webkit-linear-gradient(-90deg, 
	                           transparent 90%, rgba(0, 0, 0, .1) 33%, 
	                           rgba(0,0, 0, .1) 66%, transparent 90%),
	   -webkit-linear-gradient(top, 
	                           rgba(255, 255, 255, .25), 
	                           rgba(0, 0, 0, .25)),
	   -webkit-linear-gradient(left, #92fe9d, #00c9ff);

  
  background-size: 35px 20px, 100% 100%, 100% 100%;
}

.player-panel-1 button, .player-panel-2 button {
  background-image: linear-gradient(90deg, #29323c 0%, #485563 100%);  color: #FFF;
  border: 1px solid #000;
  box-shadow: 0 8px 6px -6px black;
  padding: 0;
  font-size: 1rem;
  font-family: 'Signika';
}

.disabled {
  pointer-events: none;
  background-image: linear-gradient(90deg, #29323c 0%, #8d96a0 100%);  color: #FFF;
}

.player-panel-1 p, .player-panel-1 span, .player-panel-2 p, .player-panel-2 span {
  text-align: center;
}


.status-panel {
  position: fixed;
  height: 18%;
  width: 26%;
  bottom: 8%;
  right: 50%;
  margin-right: -13%;
  background-image: linear-gradient(90deg, #29323c 0%, #485563 100%);  color: #FFF;
  display: flex;
  align-items: baseline;
  justify-content: center;
  padding: 2%;
  box-shadow:0px 0px 30px 5px #000;
  font-family: 'Signika';
}

.status-panel p {
  font-size: 1.1rem;
  font-weight: bold;
  text-align: center;
  color: #FFF;
}
