html {
  overflow: hidden;
  box-sizing: border-box;
}

body {
  font-family: 'Signika', sans-serif;
  background: url('../img/bg-battle.jpg') no-repeat fixed;
  background-position: 50% 50%; 
  background-size: cover;
}

#battle-elements {
  visibility: hidden;
}

#pokeball-1, #pokeball-2, #pokeball-3, #pokeball-4, #pokeball-5, #pokeball-6 {
  transform: scale3d(1.2, 1.1, 0.3);
}

#pokemon-img-1 {
  position: fixed;
  height: 30%;
  top: 38%;
  left: 18%;
  transform: scaleX(-1);
}

#pokemon-img-2 {
  position: fixed;
  height: 30%;
  top: 38%;
  right: 18%;
}


#attack-1 {
  position: fixed;
  top: 48%;
  left: 30%;
}

#attack-2 {
  position: fixed;
  top: 48%;
  right: 30%;
}


#pokemon-name-1, #pokemon-name-2 {
  font-size: 1.6rem;
  font-weight: bold;
  margin: 1% 0;
}

#message-1, #message-2 {
  font-size: 1.7rem;
  font-weight: bold;
}

.player-panel-1 {
  position: fixed;
  height: 25%;
  width: 20%;
  bottom: 4%;
  left: 4%; 
  box-shadow:0px 0px 30px 5px #000;
  background: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);
  opacity: 0.95;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
  align-content: center;
}

.player-panel-2 {
  position: fixed;
  height: 15%;
  width: 20%;
  top: 4%;
  right: 4%;
  box-shadow:0px 0px 30px 5px #000;
  background: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);
  opacity: 0.95;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
  align-content: center;
}

.panel-active {
  background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
  box-shadow:0px 0px 50px 0px #ff0000;
}

.left, .right {
  width: 35%;
  margin: 1% 0;
}

progress[value] {
  margin: 2% 0;
  border-radius: 2px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
  border: 2px solid #000;
  border-radius: 5px; 
}

progress[value]::-webkit-progress-value {
  background-image:
	   -webkit-linear-gradient(-90deg, 
	                           transparent 90%, rgba(0, 0, 0, .1) 33%, 
	                           rgba(0,0, 0, .1) 66%, transparent 90%),
	   -webkit-linear-gradient(top, 
	                           rgba(255, 255, 255, .25), 
	                           rgba(0, 0, 0, .25)),
	   -webkit-linear-gradient(left, #92fe9d, #00c9ff);

  
  background-size: 35px 20px, 100% 100%, 100% 100%;
}

.full {
  width: 70%;
  margin: auto;
}

.player-panel-1 button, .player-panel-2 button {
  background-image: linear-gradient(90deg, #29323c 0%, #485563 100%);  color: #FFF;
  border: 1px solid #000;
  box-shadow: 0 8px 6px -6px black;
  padding: 0;
}

.player-panel-1 p, .player-panel-1 span, .player-panel-2 p, .player-panel-2 span {
  text-align: center;
}


.status-panel {
  position: fixed;
  height: 14%;
  width: 24%;
  bottom: 10%;
  right: 50%;
  margin-right: -12%;
  background-image: linear-gradient(90deg, #29323c 0%, #485563 100%);  color: #FFF;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2%;
  box-shadow:0px 0px 30px 5px #000;
}

.status-panel p {
  margin: auto;
  font-size: 1.4rem;
  font-weight: bold;
  text-align: center;
  color: #FFF;
}